<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div align="center">
    <form id="cont">
        <br>
        <h4>Contatct at@</h4>
        <a href="#" id="mine">laxmikanthanubothula@gmail.com</a>
        
    </form>
</div>
</body>
</html>