<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student login</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
   <div align="center">
    <form class="ab" action="http://localhost:8000/home/registerwarden" method="post">
        <br>
        <h1 class="reg">Registration</h1>
        <h5>Warden</h5>
        <input name="username" placeholder="username"/><br><br>
        <input name="email" placeholder="email"><br><br>
        <input name="password" placeholder="password" type="password"/><br><br>
        <button class="btn2">register</button>
         
    </form>
    <!-- <br><br>
    <a href="http://localhost:8080/home/database/warden">View Database</a> -->
   </div>
   
</body>
</html>