<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Database</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div align="center">
        <h1>Warden Database</h1>  </div>
        <% for(i of result){ %>
        <div class="db" align="center"><br>
              <p>username: &nbsp;<%= i.username %></p>
               <p>email: &nbsp;<%= i.email %></p>
               <p>password: &nbsp;<%= i.password %></p><br>
            </div>
        <% } %>
</body>
</html>